.tool-question {
  background-color: transparent;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: left;

  color: #1a0c26;

  width: 100%;
  margin: 0;
  padding: 20px 5px;

  border: 0;
  border-bottom: 2px solid #ef4136;
}

.tool-response {
  background-color: transparent;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;

  color: #1a0c26;

  width: 100%;
  margin: 0;
  padding: 20px 5px;

  border: 0;
  border-bottom: 2px solid #ef4136;
}

.tool-question:hover,
.tool-response:hover {
  background-color: #d8c7e6;
}

.tool-response:last-of-type {
  border-bottom: 6px solid #ef4136;
}

.tool-response:last-of-type.inline {
  border: 0;
  border-bottom: 2px solid #ef4136;
}
.tool-response.no-border {
  border: 0;
}

.tool-response.half {
  display: inline-flex;
  width: calc(50% - 10px);
}
.tool-response.half:last-of-type {
  display: inline-flex;
  width: calc(50% - 10px);
  border-bottom: 2px solid #ef4136;
}

.tool-response > a {
  text-decoration: none;
  color: inherit;
}

.tool-response > a:hover:after {
  /* works */
  /* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='50' r='40' stroke='black' stroke-width='2' fill='red'/%3E%3Cpolyline points='20,20 40,25 60,40 80,120 120,140 200,180' style='fill:none;stroke:black;stroke-width:3'/%3E%3C/svg%3E "); */

  /* doesn't work */
  /* content: src(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 24 24' stroke-width='1.5' stroke='black' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3' /%3E%3C/svg%3E%0A"
  ); */

  content: '➔';

  display: inline-block;
  padding: 0 0.5rem;
}
